/* Write your code here. */
.bg-container {
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.small {
  height: 100px;
  width: 100px;
  background-color: #fbbf24;
  color: #ffffff;
}

.medium {
  height: 300px;
  width: 300px;
  background-color: #38bdf8;
  color: #ffffff;
}

.big {
  height: 500px;
  width: 500px;
  background-color: #ec4899;
  color: #ffffff;
}
}
